@model RadniSati.Models.Sati


@{
    ViewBag.Title = "IspisSati";

    TimeSpan span = new TimeSpan(08, 00, 00);


    if (ViewBag.interval > span)
    {
        ViewBag.interval_info = "Imas prekovremene sate <p> Tvoj visak iznosi " + ViewBag.visak + " h</p>";
        Html.Raw(ViewBag.interval_info);
    }
    else
    {
        ViewBag.interval_info = "Nemas prekovremene sate";
    }
}


<style>
    label {
        margin: 10px 30px 10px 30px;
        font-weight: normal !important;
    }
    h2{
        margin:30px;
    }
</style>


<div class="container">
    <h2>Ispis radnih sati</h2>
    <label>
        <b>  Ukupan broj sati</b>
    </label>

    <br />
    <label>
        Ušao si u  @ViewBag.ulazak h.
    </label>
    <br />
    <label>
        Izašao si u  @ViewBag.izlazak h.
    </label>
    <br />
    <label>
        Razlika je @ViewBag.interval h.
    </label>
    <br />
    <label>
        <b> Info - </b>  
        @Html.Raw(ViewBag.interval_info)
    </label>
    <br />
    <label >
        @Html.ActionLink("Povratak", "UnosSati")
    </label>
</div>