
@{
    ViewBag.Title = "IzmijeniProjekt";
}



<style>
    h2 {
        margin: 20px 0px 20px 0px;
    }

    p {
        margin: 10px 0px 10px 0px;
    }
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            alert("Novi podaci o projektu su upisani u bazu!");
        });
    });

</script>


@using (Html.BeginForm("ProjektIzmijenjen", "Projekt", FormMethod.Post))
{


<div class="container">
    <h2>Izmijeni informacije o projektu</h2>
    <div class="row no-gutters">
        <div class="col-10 col-sm-4 col-md-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Projekt/Index">Projekt</a></li>
                    <li class="breadcrumb-item"><a href="~/Projekt/IzmijenaProjekta">Izmijena projekata</a></li>
                    <li class="breadcrumb-item active" aria-current="page">IzmjenaProjekata</li>
                </ol>
            </nav>
        </div>
    </div>

    <p>
        Naziv projekta


    </p>
    <p> <input type="text" value="@ViewBag.naziv1" name="naziv" id="naziv" placeholder="@ViewBag.naziv1" style="width:500px;"></p>

    <p>
        Opis projekta


    </p>
    <p> <input type="text" value="@ViewBag.opis1" name="opis" id="opis" placeholder="@ViewBag.opis1" style="width:500px;"></p>

    <p>
        PM projekta


    </p>
    <p> <input type="text" value="@ViewBag.pm1" name="pm" id="pm" placeholder="@ViewBag.pm1" style="width:500px;"></p>

    <p>
        Klijent projekta


    </p>
    <p> <input type="text" value="@ViewBag.klijent1" name="klijent" id="klijent" placeholder="@ViewBag.klijent1" style="width:500px;"></p>

    <p>
        Task projekta


    </p>
    <p> <input type="text" value="@ViewBag.task1" name="task" id="task" placeholder="@ViewBag.task1" style="height:100px; width:500px;"></p>

    <p>
        Rezultat projekta


    </p>
    <p> <input type="text" value="@ViewBag.rezultat1" name="rezultat" id="rezultat" placeholder="@ViewBag.rezultat1" style="width:500px;"></p>

    <p>
        Koordinator projekta


    </p>
    <p> <input type="text" value="@ViewBag.koordinator1" name="koordinator" id="koordinator" placeholder="@ViewBag.koordinator1" style="width:500px;"></p>

    <p>
        Pocetak projekta


    </p>
    <p> <input type="text" value="@ViewBag.pocetak1" name="pocetak" id="pocetak" placeholder="@ViewBag.pocetak1" style="width:500px;"></p>

    <p>
        Kraj projekta


    </p>
    <p> <input type="text" value="@ViewBag.kraj1" name="kraj" id="kraj" placeholder="@ViewBag.kraj1" style="width:500px;"></p>

    <p>
        Datum projekta


    </p>
    <p> <input type="text" value="@ViewBag.datum1" name="datum" id="datum" placeholder="@ViewBag.datum1" style="width:500px;"></p>

    <p>
        Budget projekta


    </p>
    <p> <input type="text" value="@ViewBag.budget1" name="budget" id="budget" placeholder="@ViewBag.budget1" style="width:500px;"></p>

    <p>
        Država projekta


    </p>
    <p> <input type="text" value="@ViewBag.drzava1" name="drzava" id="drzava" placeholder="@ViewBag.drzava1" style="width:500px;"></p>

    <p>
        Ime zaposlenika


    </p>
    <p> <input type="text" value="@ViewBag.ime1" name="ime" id="ime" placeholder="@ViewBag.ime1" style="width:500px;"></p>

    <p>
        Prezime zaposlenika projekta



    </p>
    <p> <input type="text" value="@ViewBag.prezime1" name="prezime" id="prezime" placeholder="@ViewBag.prezime1" style="width:500px;"></p>




    <button type="submit" value="Upiši izmjenu">Upiši izmjenu</button>




    <p>
        @Html.ActionLink("Povratak", "IzmjenaProjekata", "Projekt")
    </p>


</div>

}


