@model  IEnumerable<RadniSati.Models.Projekt>



@{
    ViewBag.Title = "PopisProjekata";
}


<style>

    h2 {
        margin: 20px 0px 20px 0px;
    }

    h3 {
        margin: 30px 0px 30px 0px;
    }

    p {
        margin: 20px 0px 20px 0px;
    }

    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 10px 10px;
    }
</style>




<div class="container">
    <h2>Popis projekata</h2>

    <div class="row no-gutters">
        <div class="col-10 col-sm-4 col-md-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Izbornik/Izbornik">Izbornik</a></li>
                    <li class="breadcrumb-item"><a href="~/Projekt/Index">Projekt</a></li>
                    <li class="breadcrumb-item active" aria-current="page">IzmjenaProjekata</li>
                </ol>
            </nav>
        </div>
    </div>

    <h3>U nastavku popis projekata</h3>


    <div class="row">
        <div class="col-sm-6">

            <table>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.Naziv)</th>
                    <th> @Html.DisplayNameFor(model => model.Opis)</th>
                    <th> @Html.DisplayNameFor(model => model.PM)</th>
                    <th> @Html.DisplayNameFor(model => model.Klijent)</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>


                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Opis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Klijent)
                        </td>

                    </tr>
                }
            </table>



        </div>
        <div class="col-sm-6"></div>

    </div>

    <p>
        @Html.ActionLink("Povratak", "Index", "Projekt")
    </p>
</div>