@model  IEnumerable<RadniSati.Models.Projekt>

@{
    ViewBag.Title = "ProjektReport";
}

<style>
    h2 {
        margin: 20px 0px 20px 0px;
    }
</style>

<div class="container">


    <h2>Izvještaji o projektima</h2>


    <div class="row no-gutters">
        <div class="col-10 col-sm-4 col-md-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Izbornik/Izbornik">Izbornik</a></li>
                    <li class="breadcrumb-item"><a href="~/Projekt/Index">Projekt</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reports</li>
                </ol>
            </nav>
        </div>


    </div>

    <hr />
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-6 col-md-6"><h3>Broj projekata</h3></div>
            <div class="col-6 col-md-6"><h3>Suma iznosa projekata</h3></div>
            <div class="col-6 col-md-6"><p>@Html.DisplayFor(modelItem => item.ReportUkupanBrojProjekata)</p></div>
            <div class="col-6 col-md-6"><p>@Html.DisplayFor(modelItem => item.ReportSumaBudgeta)</p></div>
            <div class="col-6 col-md-6"><h3>Najraniji start projekata</h3></div>
            <div class="col-6 col-md-6"><h3>Najraniji kraj projekata</h3></div>
            <div class="col-6 col-md-6"><p>@Html.DisplayFor(modelItem => item.ReportPocetakProjekta)</p></div>
            <div class="col-6 col-md-6"><p>@Html.DisplayFor(modelItem => item.ReportKrajProjekta)</p></div>
        </div>
    }



</div>

<div class="container" style="margin:20px 0px 20px 0px">

    <p>
        @Html.ActionLink("Povratak", "Index", "Projekt")
    </p>

</div>